/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 dic 2023, 15:44:07
    Author     : gambe
*/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Open+Sans&family=Sedgwick+Ave+Display&display=swap');

body{
    background-color:  #333;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

table{
    border-color: white;
}

th{
    color: orangered;
}

.header{
    color: orangered;
    text-align: center;
    justify-items: stretch;
}

.container{
    display: flex;
    justify-content: space-around;
}

.item{
    font-size: 20px;
}

.item input{
    font-family: 'Open Sans', sans-serif;
    border-color: white; 
    color: white;
    background-color: #333; 
}

.item select{
    font-family: 'Open Sans', sans-serif;
    border-color: white; 
    color: white;
    background-color: #333; 
}

.titolo-item{
    color: orangered;
}

.button{
    text-align: center;
}

.button input{
    
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: orangered;
    border-color: orangered; 
    background-color: #333;   
}

.button input:hover{
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border-color: white; 
}

/*menu iniziale*/
.topnav{
    background-color: #333;
    overflow: hidden;
}

/*Banner scorrevole*/
#banner{
    width: 100%;
    color: orangered;
    white-space: nowrap; /*serve per gestire gli spazi bianchi e gli a-capo automatici*/
    overflow: hidden; /*serve per gestire la fuoriuscita del testo del testo a scorrimento (lo nasconde dall'elemento')*/
    font-weight: bold;
}

@keyframes scroll {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(300%); }
}

/*keyframes è una regola in CSS per gestire le animazioni*/
/*
    0%: Gli stili che l'elemento avrà all'inizio dell'animazione (qui, il testo è traslato verso destra del 100% della sua larghezza).
    100%: Gli stili che l'elemento avrà alla fine dell'animazione (qui, il testo è traslato verso sinistra del 100% della sua larghezza).
*/

.scrolling-text{
    display: inline-block; /*l'emento scorre su di una linea*/
    animation: scroll 30s linear infinite;
}





